*, ::before, ::after{
    box-sizing: border-box;
}

.conteiner{
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: relative;
    
}

.header img{
    max-width: 320px;
}

.header p{
    max-width: 500px;
}

h2::before{
    content: "";
    border-bottom: 1px solid brown;
    border-radius: 100px;
    background-color: brown;
    width: 180px;
    height: 10px;
    position: absolute;
    top:10px;
    z-index: -12;
    opacity: .5;
       
}